header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0.5rem 0 0 0;
  height: 100vh;
}
.header-img {
  /* No additional styles applied */
    
    margin-top: 183px;
}

@media screen and (max-width: 735px) {
  .header-img{
    margin-top: 10px;
  }
}

.header-content {
  display: flex;
  flex-direction: column;
}

.content-main {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}
.content-main h1 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}
.content-main button {
  background: #000;
  color: #fff;
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  outline: none;
  border: none;
  font-size: 1rem;
  border-radius: 25px;
  cursor: pointer;
  margin-top: 2.5rem;
}

.content-main button:hover {
  background: green; /* sets the hover background color to light green */
}

.content-main p {
  font-weight: 500;
}

.menu-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease; /* Add transition for smooth animation */
}

.menu-button:hover {
  background-color: #0056b3; /* Change background color on hover */
  transform: scale(1.1); /* Add scaling effect on hover */
}

@media (max-width: 768px) {
  .content-main h1 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  .content-main p {
    font-size: 0.8rem;
  }
  .content-main button {
    font-size: 0.8rem;
    width: 150px;
    padding: 0.5rem 1rem;
    margin-top: 1.5rem;
  }
}
